services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    environment:
      PGID: 1000
      PUID: 1000
    volumes:
      - ./data:/app/data
    restart: unless-stopped
    networks:
      - ddome
    labels:
      - "homepage.group=Infrastructure"
      - "homepage.name=Uptime Kuma"
      - "homepage.icon=uptime-kuma.png"
      - "homepage.href=https://uptime.bfkr.dev"
      - "homepage.description=Service monitoring"

networks:
    ddome: 
        external: true

