services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: unless-stopped
    networks:
      - ddome
    ports:
      - "5678"
    environment:
      - DOMAIN_NAME=n8n.bfkr.dev
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_HOST=n8n.bfkr.dev
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_RUNNERS_ENABLED=true
      - NODE_ENV=production
      - WEBHOOK_URL=https://n8n.bfkr.dev
      - GENERIC_TIMEZONE=Europe/Amsterdam
      - TZ=Europe/Amsterdam
      - SSL_EMAIL=fokker.b@pm.me
    volumes:
      - n8n_data:/home/node/.n8n
      - ./local-files:/files
    labels:
      - "homepage.group=Automation"
      - "homepage.name=n8n"
      - "homepage.icon=n8n.png"
      - "homepage.href=https://n8n.bfkr.dev"
      - "homepage.description=Workflow automation"
      - "kuma.n8n.http.name=n8n"
      - "kuma.n8n.http.url=https://n8n.bfkr.dev"

volumes:
  n8n_data:

networks:
    ddome: 
        external: true
