version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: lscr.io/linuxserver/homeassistant:latest
    restart: unless-stopped
    volumes:
      - {{ ha_config_dir }}:/config
    ports:
      - 5683:5683/udp
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - ddome

networks:
    ddome: 
        external: true


