services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:latest
    restart: unless-stopped
    volumes:
      - {{ service_config_dir }}:/config
    ports:
      - 5683:5683/udp
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - ddome
    labels:
      - "homepage.group=Automation"
      - "homepage.name=Home Assistant"
      - "homepage.icon=home-assistant.png"
      - "homepage.href=https://homeassistant.bfkr.dev"
      - "homepage.description=Home automation hub"

networks:
    ddome: 
        external: true

