- News:
    - Reddit:
        - icon: mdi-reddit
          href: https://www.reddit.com
    - Hacker News:
        - icon: mdi-newspaper-variant-outline
          href: https://news.ycombinator.com
    - Tweakers:
        - icon: mdi-tools
          href: https://tweakers.net
- Dev:
    - GitHub:
        - icon: mdi-github
          href: https://github.com
- Media:
    - YouTube:
        - icon: mdi-youtube
          href: https://www.youtube.com
- Mail:
    - Proton Mail:
        - icon: mdi-email-lock-outline
          href: https://mail.proton.me
