services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    restart: unless-stopped
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/host:ro
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=home.bfkr.dev
    networks:
      - ddome
    labels:
      - "homepage.group=Infrastructure"
      - "homepage.name=Homepage"
      - "homepage.icon=homepage.png"
      - "homepage.href=https://home.bfkr.dev"
      - "homepage.description=Service dashboard"
      - "kuma.homepage.http.name=Homepage"
      - "kuma.homepage.http.url=https://home.bfkr.dev"

networks:
  ddome:
    external: true
