{
    email fokker.b@pm.me
}

*.bfkr.dev, bkfr.dev {
    tls {
        dns cloudflare {{ cloudflare_access_token }}
    }

    @dns host dns.bfkr.dev
    handle @dns {
        reverse_proxy pihole
    }

    @uptime host uptime.bfkr.dev
    handle @uptime {
        reverse_proxy uptime:3001
    }

    @jellyfin host jellyfin.bfkr.dev
    handle @jellyfin {
        reverse_proxy jellyfin:8096
    }

    @sabnzbd host downloader.bfkr.dev
    handle @sabnzbd {
        reverse_proxy wireguard:8080
    }

    @sonarr host sonarr.bfkr.dev
    handle @sonarr {
        reverse_proxy wireguard:8989
    }

    @radarr host radarr.bfkr.dev
    handle @radarr {
        reverse_proxy wireguard:7878
    }

    @changedetection host changedetection.bfkr.dev
    handle @changedetection {
        reverse_proxy changedetection:5000
    }
}
