{
    email fokker.b@pm.me
}

*.bfkr.dev, bkfr.dev {
    tls {
        dns cloudflare {{ cloudflare_secret }}
    }

    @uptime host uptime.bfkr.dev
    handle @uptime {
        reverse_proxy uptime-kuma:3001
    }

    @jellyfin host jellyfin.bfkr.dev
    handle @jellyfin {
        reverse_proxy jellyfin:8096
    }

    @sabnzbd host downloader.bfkr.dev
    handle @sabnzbd {
        reverse_proxy wireguard:8080
    }

    @sonarr host sonarr.bfkr.dev
    handle @sonarr {
        reverse_proxy wireguard:8989
    }

    @radarr host radarr.bfkr.dev
    handle @radarr {
        reverse_proxy wireguard:7878
    }

    @jellyseerr host netflix.bfkr.dev
    handle @jellyseerr {
        reverse_proxy jellyseerr:5055
    }

    @changedetection host changedetection.bfkr.dev
    handle @changedetection {
        reverse_proxy changedetection:5000
    }
    
    @actualbudget host actualbudget.bfkr.dev
    handle @actualbudget {
        reverse_proxy actualbudget:5006
    }

    @miniflux host miniflux.bfkr.dev
    handle @miniflux {
        reverse_proxy miniflux:8080
    }

    @linkding host linkding.bfkr.dev
    handle @linkding {
        reverse_proxy linkding:9090
    }
    
    @homepage host home.bfkr.dev
    handle @homepage {
        reverse_proxy homepage:3000
    }

    @homeassistant host homeassistant.bfkr.dev
    handle @homeassistant {
        reverse_proxy homeassistant:8123
    }
    
    @n8n host n8n.bfkr.dev
    handle @n8n {
        reverse_proxy n8n:5678
    }
    
    @silverbullet host silverbullet.bfkr.dev
    handle @silverbullet {
        reverse_proxy silverbullet:3000
    }

    @vikunja host vikunja.bfkr.dev
    handle @vikunja {
        reverse_proxy vikunja:3456
    }
    
    @drive host drive.bfkr.dev 
    handle @drive {
        reverse_proxy filestash:8334
        encode gzip
    }
    
    @office host office.bfkr.dev
    handle @office {
        reverse_proxy wopi_server:9980 {
            header_up Host {host}
            header_up X-Forwarded-Proto {scheme}
        }
        encode gzip
    }
}
