services:
  caddy:
    image: bartfokker/caddy
    restart: unless-stopped
    ports:
      - "80:80"   # HTTP traffic
      - "443:443" # HTTPS traffic
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - {{ service_config_dir }}/data:/data
      - {{ service_config_dir }}/config:/config
    networks:
      - ddome

networks:
    ddome: 
        external: true
