version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "{{ ansible_host}}:53:53/tcp"
      - "{{ ansible_host}}:53:53/udp"
    environment:
      TZ: 'Europe/Amsterdam'
      WEBPASSWORD: '{{ pihole_web_password }}'
      FTLCONF_LOCAL_IPV4: '{{ ansible_host }}'
      DNSSEC: 'true'
      WEBTHEME: 'default-darker'
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    restart: unless-stopped
    networks:
        - ddome
networks:
    ddome: 
        external: true


