services:
  silverbullet:
    image: ghcr.io/silverbulletmd/silverbullet
    restart: unless-stopped
    environment:
    - SB_USER={{ username }}:{{ password }}
    volumes:
      - ./space:/space
    networks:
      - ddome
    ports:
      - 3000
    labels:
      - "homepage.group=Productivity"
      - "homepage.name=Silverbullet"
      - "homepage.icon=silverbullet.png"
      - "homepage.href=https://silverbullet.bfkr.dev"
      - "homepage.description=Personal knowledge base"

networks:
    ddome: 
      external: true

