services:
  silverbullet:
    image: ghcr.io/silverbulletmd/silverbullet
    restart: unless-stopped
    environment:
    - SB_USER={{ username }}:{{ password }}
    volumes:
      - ./space:/space
    networks:
      - ddome
    ports:
      - 3000

networks:
    ddome: 
      external: true


