services:
  linkding:
    image: sissbruecker/linkding:latest
    volumes:
      - "./data:/etc/linkding/data"
    restart: unless-stopped
    environment:
      - LD_SUPERUSER_NAME={{ username }}
      - LD_SUPERUSER_PASSWORD={{ password }}
    networks:
      - ddome
    labels:
      - "homepage.group=Productivity"
      - "homepage.name=Linkding"
      - "homepage.icon=linkding.png"
      - "homepage.href=https://linkding.bfkr.dev"
      - "homepage.description=Bookmark manager"
      - "kuma.linkding.http.name=Linkding"
      - "kuma.linkding.http.url=https://linkding.bfkr.dev"

networks:
    ddome: 
        external: true
