services:
  linkding:
    image: sissbruecker/linkding:latest
    volumes:
      - "./data:/etc/linkding/data"
    restart: unless-stopped
    environment:
      - LD_SUPERUSER_NAME={{ username }}
      - LD_SUPERUSER_PASSWORD={{ password }}
    networks:
      - ddome

networks:
    ddome: 
        external: true


