version: '3'
services:
  linkding:
    container_name: linkding
    image: sissbruecker/linkding:latest
    volumes:
      - "./data:/etc/linkding/data"
    restart: unless-stopped
    environment:
      - LD_SUPERUSER_NAME={{ linkding_username }}
      - LD_SUPERUSER_PASSWORD={{ linkding_password }}
    networks:
      - ddome

networks:
    ddome: 
        external: true


