version: "3"

services:
    nextcloud:
      image: nextcloud:latest
      container_name: nextcloud
      user: 1000:1000
      ports:
       - 7070:80
      volumes:
        - data-dir:/var/www/html 
      restart: unless-stopped

volumes:
    data-dir:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: '{{ nextcloud_data_dir }}'
