version: "3"
services:
  restic:
    image: restic/restic
    restart: unless-stopped
    command: init
    environment:
      RESTIC_REPOSITORY: {{ restic_repo }}
      AWS_ACCESS_KEY_ID: {{ b2_api_id }} 
      AWS_SECRET_ACCESS_KEY: {{ b2_api_key }} 
      RESTIC_PASSWORD: {{ restic_password }}
    volumes:
      - /home/bart/services:/opt/service-dir:ro
      - /mnt/nas/bart:/opt/backups/mnt/nas/bart:ro