services:
  miniflux:
    image: miniflux/miniflux:latest
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    networks:
      - ddome
      - miniflux
    environment:
      - DATABASE_URL=postgres://miniflux:{{ postgress_password }}@db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME={{ admin_username }}
      - ADMIN_PASSWORD={{ admin_password }}      
      - DEBUG=0
    labels:
      - "homepage.group=Productivity"
      - "homepage.name=Miniflux"
      - "homepage.icon=miniflux.png"
      - "homepage.href=https://miniflux.bfkr.dev"
      - "homepage.description=RSS reader"
      - "kuma.miniflux.http.name=Miniflux"
      - "kuma.miniflux.http.url=https://miniflux.bfkr.dev"
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD={{ postgress_password }}
      - POSTGRES_DB=miniflux
    networks:
      - miniflux
    volumes:
      - ./data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s

networks:
    miniflux:
    ddome: 
        external: true
