services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io
    hostname: changedetection
    environment: 
     - PUID=1000
     - PGID=1000
    volumes:
     - {{ service_config_dir }}:/datastore
    restart: unless-stopped
    networks:
     - ddome

networks:
    ddome: 
        external: true


